In [2]:
print("Hello World")

Hello World

In [4]:
# Single Line Comment

In [7]:
""" Multiple
Line
Comment """

' Multiple\nLine\nComment '

In [8]:
898+3453/434*45

1256.0299539170508

In [9]:
# power
5**4

625

In [11]:
print(type(21.2))

<class 'float'>

In [12]:
a=10
print(type(a))

<class 'int'>

In [19]:
var=("India", "Delhi")
strg="capital of %s is %s" % var
print(strg)

capital of India is Delhi

In [22]:
strg2="capital of {} is {} at {}".format("India","Delhi",120.25)
print(strg2)

capital of India is Delhi at 120.25

In [24]:
print("hello",end=" ")
print("world")

hello world

In [26]:
print("hello","world",sep="\n")

hello
world

In [8]:
name=input()
print("hello "+name)
print(type(name))

amit
hello amit
<class 'str'>

In [15]:
age=int(input())
print(age)
print(type(age))

45
45
<class 'int'>

In [17]:
l="10 20 30 450 560".split()
print(l)

['10', '20', '30', '450', '560']

In [21]:
# List Comprehension
num=[int(no) for no in l]
print(num)

[10, 20, 30, 450, 560]

In [23]:
number=[int(x) for x in input().split()]
print(number)

123 6 65 9
[123, 6, 65, 9]

In [27]:
# Floor Division
10//3

3

In [28]:
10/3

3.3333333333333335

In [29]:
 for i in range(1,10,2):
        print(i)

1
3
5
7
9

In [37]:
#Keyword arguments
def func(score, name):
    print("My name is %s with score %d"%(name,score))
func(name="amit",score=434)
# keyword arguments must be at the end

My name is amit with score 434

In [50]:
# Strings are immutable
a ="hello world"
print(a)
print(a[2])
print(a[-1])
print(len(a))

hello world
l
d
11

In [49]:
for i in a:
    print(i)

h
e
l
l
o

STRING METHODS

In [51]:
a='hello'
b='world'
print(a+b)

helloworld

In [52]:
print(a*3)

hellohellohello

In [59]:
# Slicing
a[1:4]
a[2:] # continue till end

'llo'

In [60]:
# Membership
'el'in a

True

In [64]:
para="""this is
something written
in a paragraph"""
print(para)

this is
something written
in a paragraph

In [67]:
para.split()

['this is', 'something written', 'in a paragraph']

In [68]:
para.splitlines()

['this is', 'something written', 'in a paragraph']

In [71]:
para.upper()

'THIS IS\nSOMETHING WRITTEN\nIN A PARAGRAPH'

In [73]:
str2="       this is a sample       "
str2.lstrip()

'this is a sample       '

In [75]:
str2.rstrip()

'       this is a sample'

In [76]:
str2.strip()

'this is a sample'

In [83]:
a="235hgh4"
a.isdigit()
a.isalpha()

False

In [87]:
a.isalnum()

True

In [94]:
s=" i have a book and I read it daily"
s.find('book')
s.index('book')

10

In [93]:
s.find('book',11,len(s))

-1

In [95]:
# difference b/w find() and index() is that find() gives -1 is not present but
# index() gives exception

In [97]:
s=s.replace('book','copy')
print(s)

 i have a copy and I read it daily

In [99]:
s.count('read')

1

In [101]:
l=s.split()
print(l)

['i', 'have', 'a', 'copy', 'and', 'I', 'read', 'it', 'daily']

In [103]:
b="_".join(l)
print(b)

i_have_a_copy_and_I_read_it_daily

In [6]:
name="amit kumar gupta"
name=name.capitalize()
print(name)

Amit kumar gupta

DATA STRUCTURES

In [7]:
# different types of data in a list

In [9]:
a=[2,3,45,7]
print(a)

[2, 3, 45, 7]

In [11]:
l1=list([1,2,4])
print(l1)

[1, 2, 4]

In [12]:
l1=l1+a
print(l1)

[1, 2, 4, 2, 3, 45, 7]

In [14]:
# list of squares
l2=[x*x for x in range(1,6)]
print(l2)

[1, 4, 9, 16, 25]

In [16]:
l2.extend(l1)
print(l2)

[1, 4, 9, 16, 25, 1, 2, 4, 2, 3, 45, 7]

In [40]:
# list slicing
# it is similar to  string splicing

In [21]:
# insertion & deletion in lists
l2.append(4)
l2.append(l1)
print(l2)

[1, 4, 9, 16, 25, 1, 2, 4, 2, 3, 45, 7, 4, 4, [1, 2, 4, 2, 3, 45, 7], 4, [1, 2, 4, 2, 3, 45, 7]]

In [33]:
l2.insert(2,20)
print(l2)

[1, 4, 20, 20, 20, 9, 16, 25, 3, 45, 7, 4, 4, [1, 2, 4, 2, 3, 45, 7], 4]

In [36]:
l2.remove(20)
print(l2)

[1, 4, 20, 20, 9, 16, 25, 3, 45, 7, 4, 4, [1, 2, 4, 2, 3, 45, 7], 4]

In [25]:
del l2[5]
print(l2)

[1, 4, 9, 16, 25, 3, 45, 7, 4, 4, [1, 2, 4, 2, 3, 45, 7], 4, [1, 2, 4, 2, 3, 45, 7]]

In [26]:
l2.pop()
print(l2)

[1, 4, 9, 16, 25, 3, 45, 7, 4, 4, [1, 2, 4, 2, 3, 45, 7], 4]

In [29]:
l=[1,2,3]
l=l*4
print(l)

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
3 in l

True

In [42]:
print(max(l))
print(l.index(3))

3
2

In [44]:
l=sorted(l)
print(l)

[1, 1, 1, 1, 2, 2, 2, 2, 3, 3, 3, 3]

In [48]:
l=[34,54545,-5]
l.sort(reverse=True)
print(l)

[54545, 34, -5]

DICTIONARY

In [52]:
# equivalent to hashmap

In [71]:
d={
    "mango":100,
    "apple":180
}
print(d)
print(d["mango"])
d["gauava"]=123.4
d["grape"]=[100,43]
d["pines"]={"small":15,"large":78}
print(d)

{'mango': 100, 'apple': 180}
100
{'mango': 100, 'apple': 180, 'gauava': 123.4, 'grape': [100, 43], 'pines': {'small': 15, 'large': 78}}

In [72]:
print(d.keys())
print(d.values())

dict_keys(['mango', 'apple', 'gauava', 'grape', 'pines'])
dict_values([100, 180, 123.4, [100, 43], {'small': 15, 'large': 78}])

In [62]:
d.get("mango") # if not present gives None

100

In [74]:
print(d.items())
print(list(d.items()))

dict_items([('mango', 100), ('apple', 180), ('gauava', 123.4), ('grape', [100, 43]), ('pines', {'small': 15, 'large': 78})])
[('mango', 100), ('apple', 180), ('gauava', 123.4), ('grape', [100, 43]), ('pines', {'small': 15, 'large': 78})]

In [75]:
del d["mango"]

In [78]:
d2={"straw":34}
d.update(d2)
print(d)

{'apple': 180, 'gauava': 123.4, 'grape': [100, 43], 'pines': {'small': 15, 'large': 78}, 'straw': 34}

In [80]:
d2.clear()
print(d2)

{}

In [89]:
# list to dictionary
l1=[8,65,"abc",89]
l2=[9,"xyz","mno","pqr"]
p=dict(zip(l1,l2))
print(p)

{8: 9, 65: 'xyz', 'abc': 'mno', 89: 'pqr'}

TUPLES

In [92]:
# immutable lists
# write-protected data
# return multiple values from a function

In [96]:
a=(232,454,"ancd")
print(a)
b=list(a)
print(b)

(232, 454, 'ancd')
[232, 454, 'ancd']

SETS

In [111]:
s=set([2,45,6,2,56,7,8,9])
print(s)

{2, 6, 7, 8, 9, 45, 56}

In [112]:
s2={4,6,8,9,9,8,1,4}
print(s2)

{1, 4, 6, 8, 9}

In [113]:
s.add(50)
print(s)

{2, 6, 7, 8, 9, 45, 50, 56}

In [117]:
s.union(s2)

{1, 2, 4, 6, 7, 8, 9, 45, 50, 56}

In [118]:
s | s2

{1, 2, 4, 6, 7, 8, 9, 45, 50, 56}

In [119]:
s & s2

{6, 8, 9}

In [120]:
s.intersection(s2)

{6, 8, 9}

In [122]:
s - s2

{2, 7, 45, 50, 56}

In [124]:
s ^ s2 # elements which are in only one set

{1, 2, 4, 7, 45, 50, 56}