In [4]:
import gensim
import numpy as np
import pandas as pd
from gensim.models import word2vec
from gensim.models import KeyedVectors
from sklearn.metrics.pairwise import cosine_similarity

#### Loading the Model

In [2]:
word_vectors = KeyedVectors.load_word2vec_format('GoogleNews-vectors-negative300.bin',binary=True)

In [3]:
def odd_one_out(words):
    all_word_vectors = [word_vectors[w] for w in words]
    avg_vector = np.mean(all_word_vectors,axis=0)
    odd_one_out = None
    min_similarity = 1.0
    for w in words:
        sim = cosine_similarity([word_vectors[w]],[avg_vector])
        if sim < min_similarity:
            min_similarity = sim
            odd_one_out = w
    return odd_one_out

#### Loading the Data

In [10]:
df = pd.read_csv("./Test.csv")
arr = np.array(df)
df.head()

      Word1      Word2    Word3      Word4     Word5
0  elephant       lion    tiger       goat     snake
1       man  policeman  fireman    teacher   postman
2     plane       bird   rocket    balloon       cat
3     onion     celery  lettuce  pineapple    potato
4     India   football   hockey    cricket  swimming

#### Finding the Odd One Out

In [18]:
result = []
for ix in arr:
    result.append(odd_one_out(ix))

#### Writing CSV

In [20]:
df = pd.DataFrame(result,columns=['OddOne'])
df.to_csv('out.csv',index=False)